<link href="/components/footer/footer.css" type="text/css" rel="stylesheet">

<div class="footer">
    <ul class="footer-socials">
        <li class="footer-social-button"><span id="loc-mail">メール</span> – mcgrumpet@proton.me</li>
        <li class="footer-social-button"><a href="https://www.youtube.com/@McGrumpet" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        <!--<li class="footer-social-button"><a href="" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>-->
        <li class="footer-social-button"><a href="https://x.com/BrettLooby" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li class="footer-social-button"><a href="https://www.instagram.com/old_mr_mcgrumpet/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="footer-social-button"><a href="https://www.facebook.com/brett.looby/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <!--<li class="footer-social-button"><a href="" target="_blank"><i class="fa-brands fa-line"></i></a></li>-->
        <!--<li class="footer-social-button"><a href="" target="_blank"><i class="fa-brands fa-n"></i></a></li>-->
        <li class="footer-social-button"><a href="https://bsky.app/profile/mcgrumpet.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i></a></li>
        <li class="footer-social-button"><a href="https://www.pixiv.net/en/users/61027982" target="_blank"><i class="fa-brands fa-pixiv"></i></a></li>
        <li class="footer-social-button"><a href="https://cara.app/mcgrumpet" target="_blank"><i class="fa-brands fa-c"></i></a></li>
    </ul>
</div>