.hero {
    max-width: 1250px;
    padding: 0 5px;
}

.slogan {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: darkorange;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.manga-advert {
    border: 1px solid darkorange;
    border-radius: 2px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.manga-advert img {
    width: 100%;
}

.call-to-action {
    font-size: 1.1rem;
    font-weight: 400;
}

.hero-grid {
    display: grid;
    margin: 25px 25px 50px 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
}

.dove-fact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dove-fact img {
    width: 100%;
    grid-column: 1;
}

.dove-fact-textbox {
    height: 100%;
}

.dove-fact-title {
    font-weight: 700;
    color: red;
    font-size: 0.9em;
    grid-column: 2;
    margin-top: 0px;
}

.dove-fact-text {
    grid-column: 2;
    margin-top: 20px;
}

.chart {
    background-color: white;
    border: 1px solid darkorange;
    border-radius: 2px;
}

.chart-image {
    width: 100%;
}

.chart-textbox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: auto;
}

.chart-title {
    color: darkorange;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0px;
}

.chart-description {
    color: black;
    font-size: 0.75em;
    margin-top: 20px;
}

.news {
    text-align: center;
    margin-bottom: 10px;
}

.events {
    text-align: center;
    margin-bottom: 10px;
}