@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: "Avenir", "Noto Sans JP", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: floralwhite;
}

.body-compact {
    max-width: 1250px;
    padding: 5px 5px;
}

.section-title {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: darkorange;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-simple {
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 1.25em;
}