<link href="/components/navbar/navbar.css" type="text/css" rel="stylesheet">

<div class="navbar">
    <div class="nav-main">
        <div class="nav-logo"><a href="/index.html"><span id="loc-logo">公民教育改革運動</span></a></div>
        <div class="nav-menu">
            <div class="nav-menu-item" id="home-button"><a href="/index.html"><i class="fa-solid fa-house-chimney"></i> <span id="loc-home">ホーム</span></a></div>
            <div class="nav-menu-item" id="about-button"><a href="/pages/about.html"><i class="fa-solid fa-circle-question"></i> <span id="loc-about">公教改について</span></a></div>
            <div class="nav-menu-item" id="news-button"><a href=""><i class="fa-solid fa-circle-exclamation"></i> <span id="loc-news">お知らせ</span></a></div>
            <div class="nav-menu-item" id="events-button"><a href=""><i class="fa-solid fa-calendar-check"></i> <span id="loc-events">イベント</span></a></div>
            <div class="nav-menu-item" id="volunteer-button"><a href="/pages/volunteer.html"><i class="fa-solid fa-hand-holding-heart"></i> <span id="loc-volunteer">ボランティア方</span></a></div>
            <div class="nav-menu-item" id="contact-button"><a href="/pages/contact.html"><i class="fa-solid fa-envelope"></i> <span id="loc-contact">お問い合わせ</span></a></div>
        </div>
        <div class="language-select"><img src="/assets/images/jp.png" alt="" class="language-flag"></div>
    </div>
    <div class="nav-more">
        <div class="nav-more-item" id="school-issues-button"><a href="/pages/schoolissues.html"><i class="fa-solid fa-school"></i> <span id="loc-school-issues">教育制度の問題</span></a></div>
        <div class="nav-more-item" id="roadmap-button"><a href="/pages/roadmap.html"><i class="fa-solid fa-road"></i> <span id="loc-roadmap">ロードマップ</span></a></div>
        <div class="nav-more-item" id="join-team-button"><a href="/pages/jointeam.html"><i class="fa-solid fa-people-group"></i> <span id="loc-join-team">私のチームに入って</span></a></div>
        <div class="nav-more-item" id="manga-button"><a href="/pages/manga.html"><i class="fa-solid fa-book-open"></i> <span id="loc-manga-button">漫画「不登校」</span></a></div>
        <div class="nav-more-item" id="videos-button"><a href=""><i class="fa-solid fa-circle-play"></i> <span id="loc-videos">ビデオ</span></a></div>
        <div class="nav-more-item" id="music-button"><a href=""><i class="fa-solid fa-music"></i> <span id="loc-music">音楽</span></a></div>
        <div class="nav-more-item" id="articles-button"><a href=""><i class="fa-solid fa-newspaper"></i> <span id="loc-articles">記事</span></a></div>
        <div class="nav-more-item" id="gallery-button"><a href=""><i class="fa-solid fa-image"></i> <span id="loc-gallery">ギャラリー</span></a></div>
        <div class="nav-more-item" id="store-button"><a href=""><i class="fa-solid fa-store"></i> <span id="loc-store">商品</span></a></div>
        <div class="nav-more-item" id="forum-button"><a href=""><i class="fa-solid fa-list-ul"></i> <span id="loc-forum">掲示板</span></a></div>
    </div>
</div>

<script src="/scripts/localization.js"></script>